.icon {
    fill: rgb(var(--color-os));
    height: 100%;
    width: 100%;
    padding: 5px;
}

.icon-close {
    content: url(/resources/svg/close.svg);
}

.icon-profile::before {
    content: url(/resources/svg/profile.svg);
}