.title-separator {
    display: flex;
    align-items: center;

    &::after,
    &::before {
        content: " ";
        flex-grow: 1;
        height: 0;
        border-bottom: solid 1px rgb(var(--color-os));
    }

    &::before {
        margin-right: 0.5rem;
    }

    &::after {
        margin-left: 0.5rem;
    }
}