
.display-none {
    display: none;
}

/* FLEX */

.flex-r {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-space);
}

.flex-c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-space);
}


.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-grow {
    flex-grow: 1;
    flex-basis: 0
}


.no-gap {
    gap: 0;
}


@media (max-width: 750px) {
    .dinamic-column {
        flex-direction: row;
    }
    
    .dinamic-row {
        flex-direction: column;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    gap: var(--gap-space)
}

.grid-r {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: var(--gap-space);
}

.grid-c {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--gap-space);
}

@media (max-width: 750px) {
    .dinamic-column {
        flex-direction: row;
        grid-auto-flow: row;
        grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    .dinamic-row {
        flex-direction: column;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}



/* JUSTIFY-CONTENT */

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-start { 
    justify-content: flex-start;
}

.flex-end { 
    justify-content: flex-end;
}


/* ALIGN-CONTENT */

.align-center {
    align-content: center;
}

.align-start {
    align-items: start;
}





















/* ============== DEPRECATED ============== */

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap-space);
    justify-content: center;
    flex-wrap: nowrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap-space);
    justify-content: center;
    flex-wrap: nowrap;
}







