.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.center-child {
    display: grid;
    place-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-right {
    position: fixed;
    right: 0;
}


